html, body {
	margin: 0;
	font-family: Verdana, sans-serif;
	height: 100%;
	box-sizing: border-box;
}

main {
	width: 100%;
	height: 100%;
}

#hamburger{
	position: fixed;
	top: 5px;
	right: 0px;
	z-index: 4;
}

.search {
	width: 95%;
    height: 100%;
    float: left;
    display: table;
}

.search-box {
	width: 100%;
	font-size: 15px;
    font-weight: 100;
    padding-left: 10px;
    display:table-cell; 
    vertical-align:middle;
	background-color: #ccffff;
    position: fixed;
    top: 0;
    height: 7%;
    z-index: 3;
    margin: 0 auto;
}

.search-list{
	position: absolute;
	margin-top: 7%;
	margin-left: 5%;
    padding: 0;
    background-color: #00cccc;
    height: 400px;
    width: 25%;
    z-index: 2;
    overflow: auto;
}
.search-list ul {
	position: relative;
}
.search-list li {
    padding: .3em 0;
    background-color: #ccffff;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

#map {
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: #fff;
	text-align: center;
}

.results {
	margin: 0;
	padding: 0;
}

.activeStyle {
    display: none;
}

@media screen and (max-width: 959px), screen and (max-height: 568px) {

    .activeStyle {
        display: none;
    }

    #hamburger {
        width: 10%;
    }

    .search{
    	width: 90%;
    }

	.search-box, .list {
		font-size: 1em;
	}
}